/* Navbar.css */

/* Global style in your CSS */
body.lock-scroll {
  overflow: hidden;
}


.nav-body {
  padding: 0.7rem;
  background-color: #ffffff;
  position: relative;
  z-index: 50;
}

/* Animate when nav is open */
.nav-body.nav-open .nav-header {
  position: absolute;
  background-color: var(--text);
  padding: 0.5rem;
  z-index: 1000;
  border-radius: 10px 10px 0 0;
  top: 100%;
  margin-top: -0.5rem;
  /* the left and right percentages keeps keep up with the padding-inline, is there way to use cal feautre here */
  left: calc(0px + 1.32rem);
  right: calc(0px + 1.32rem);

}

/* After */
.nav-body {
  position: fixed;
  top: 0.5rem;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.5rem 1.2rem;
  width: 100%;
  max-width: 1600px;
  background: transparent;
  border-radius: 50px;
  z-index: 50;
  opacity: 1;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease;
}

.nav-logo img {
  height: auto;
  width: 80px;
}

.nav-toggle, .cross-toggle {
  background: none;
  border: 0.5px solid #072e23;
  padding: 0.25rem 0.9rem;
  cursor: pointer;
  border-radius: 0.5px;
}

.nav-toggle{
  padding: 0.15rem 0.65rem;
}


.nav-logo,
.nav-toggle {
  transition: transform 0.3s ease;
}

.nav-body.nav-open .nav-logo {
  transform: translateX(3px) scale(0.95);
  background-color: #EAF4F1;
}
.nav-body.nav-open .nav-toggle {
  transform: translateX(-3px) scale(0.95);
  background-color: #EAF4F1;
  }

/* Navigation links - hidden by default on mobile */
.nav-links {
  list-style: none;
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
  padding-left: 0;
}

.nav-links.open {
  max-height: 700px; /* Enough space for all items */
  opacity: 1;
  visibility: visible;
  background-color: #EAF4F1;
  padding-inline: 1.5rem;
  padding-top: 4rem;
  margin-top: -0.98rem;
  border-radius: 0 0 10px 10px;
  font-size: 2.5rem;
  position: absolute;
  top: 100%;
  /* the left and right percentages keeps keep up with the padding-inline, is there way to use cal feautre here */
  left: calc(0px + 1.25rem);
  right: calc(0px + 1.25rem);
  z-index: 55;
}

.nav-links li {
  margin: 1rem 0;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}



/* Desktop styles */
@media (min-width: 768px) {

  .nav-toggle {
    display: none;
  }

  .nav-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-links {
    display: flex;
    max-height: none;
    opacity: 1;
    visibility: visible;
    margin-top: 0;
    gap: 1.5rem;
  }

  .nav-links li {
    margin: 0;
  }
}


