* {
  box-sizing: border-box;
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100svh;
  
}
.cards {
  padding: 0;
  margin: 0;
  display: grid;
  width: 70svw;
  > * {
    grid-area: 1 / 1 / 2 / 2;
  }
  li {
    list-style: none;
  }
}

.card {
  height: 70svh;
  min-height: auto;
  padding: 30px;
}
